Core.ApplicationServices/Service References/SdWebService/SD_KoerselOpretRequest_20120201.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sd="urn:oio:sd:snitflader:2012.02.01" xmlns:cpr20050318="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:sd20111201="urn:oio:sd:snitflader:2011.12.01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sd:snitflader:2012.02.01" version="1.0" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="SD_InstitutionIdentifier_20111201.xsd" namespace="urn:oio:sd:snitflader:2011.12.01" />
  <import schemaLocation="CPR_PersonCivilRegistrationIdentifier.xsd" namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
  <import schemaLocation="SD_EmploymentIdentifier_20111201.xsd" namespace="urn:oio:sd:snitflader:2011.12.01" />
  <include schemaLocation="SD_Regel60DageIndikator_20120201.xsd" />
  <include schemaLocation="SD_RegistreringTypeIdentifikator_20120201.xsd" />
  <include schemaLocation="SD_KoertFraTekst_20120201.xsd" />
  <include schemaLocation="SD_KoertTilTekst_20120201.xsd" />
  <include schemaLocation="SD_AarsagTekst_20120201.xsd" />
  <include schemaLocation="SD_KoerselDato_20120201.xsd" />
  <include schemaLocation="SD_KilometerMaal_20120201.xsd" />
  <complexType name="KoerselOpretRequestType">
    <sequence>
      <element name="InstitutionIdentifikator" type="sd20111201:InstitutionIdentifierType" />
      <element name="PersonnummerIdentifikator" type="cpr20050318:PersonCivilRegistrationIdentifierType" />
      <element name="AnsaettelseIdentifikator" type="sd20111201:EmploymentIdentifierType" />
      <element ref="sd:RegistreringTypeIdentifikator" />
      <element ref="sd:KoerselDato" />
      <element ref="sd:KilometerMaal" />
      <element ref="sd:Regel60DageIndikator" />
      <element ref="sd:KoertFraTekst" />
      <element ref="sd:KoertTilTekst" />
      <element ref="sd:AarsagTekst" />
    </sequence>
  </complexType>
</schema>