Core.ApplicationServices/Service References/SDService/SD_KoerselOpretInterface_20120201.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sd="urn:oio:sd:snitflader:2012.02.01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sd:snitflader:2012.02.01" version="1.0" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="SD_KoerselOpretRequest_20120201.xsd" />
  <element name="KoerselOpret20120201" type="sd:KoerselOpret20120201Type" />
  <complexType name="KoerselOpret20120201Type">
    <sequence>
      <element name="InddataStruktur" type="sd:KoerselOpretRequestType" />
    </sequence>
    <attribute name="dannetDatoTid" type="dateTime" use="required" />
  </complexType>
</schema>